<header class="site-header">
   
    <!-- <a class="site-title" href="{{ site.baseurl }}/">
        <svg version="1.0" xmlns="http://www.w3.org/2000/svg"
            width="35" height="65" viewBox="0 0 273.000000 262.000000" id="logo"
            preserveAspectRatio="xMidYMid meet">
            <g transform="translate(0.000000,262.000000) scale(0.100000,-0.100000)"
            fill="#000000" stroke="none">
            <path d="M753 2321 l-513 -296 0 -646 0 -645 553 -319 c303 -176 559 -319 567
            -319 9 0 264 143 568 318 l552 319 0 56 -1 56 -422 241 -422 241 -3 92 c-1 50
            0 91 4 91 3 0 190 -101 414 -225 225 -124 413 -225 419 -225 8 0 11 146 11
            483 l0 482 -511 295 c-281 162 -515 297 -520 298 -5 2 -9 -296 -9 -695 l0
            -698 379 -219 380 -219 -407 -235 c-224 -129 -414 -237 -424 -239 -18 -5 -840
            465 -833 476 2 4 171 104 374 221 l371 214 0 698 c0 384 -3 698 -7 697 -5 -1
            -239 -134 -520 -298z m346 -151 c-12 -8 -44 -27 -71 -43 l-48 -27 0 79 0 79
            68 40 67 40 3 -76 c3 -70 1 -78 -19 -92z m-310 -180 c-12 -8 -44 -27 -71 -43
            l-48 -27 0 79 0 80 68 40 67 39 3 -76 c3 -70 1 -78 -19 -92z m-291 -166 c-7
            -6 -39 -26 -70 -44 l-58 -32 0 80 0 80 68 38 67 39 3 -74 c2 -51 -1 -78 -10
            -87z"/>
            </g>
            </svg>
    </a> -->
    <!-- <nav class="site-nav" > 
        <a class="ftsubheader text" href="{{ site.baseurl }}/#publication">Publication </a> &nbsp
        <a class="ftsubheader text" href="{{ site.baseurl }}/#experience">Experience </a>  
   </nav> -->
 
   <!-- <div class="color-bars-header">
        <div class="cor-head colr-1"></div>
        <div class="cor-head colr-2"></div>
        <div class="cor-head colr-3"></div>
        <div class="cor-head colr-4"></div>
        <div class="cor-head colr-5"></div>
        <div class="cor-head colr-6"></div>
        <div class="cor-head colr-7"></div>
        <div class="cor-head colr-8"></div>
        </div> -->
</header>
