<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
  <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">

  <!-- Meta tags for search engines to crawl -->
  <meta name="robots" content="index,follow">
  <meta name="keywords" content="Harold Haodong Chen">
  <link rel="author" href="https://haroldchen19.github.io/">
  <title>Harold Chen | HKUST</title>
  <!-- <link rel="apple-touch-icon" href="images/hkust.ico"> -->
  <link rel="icon" href="images/personal2.jpg"/>
  
  <style>
          {% capture include_to_scssify %}
          {% include main.scss %}
          {% endcapture %}
          {{ include_to_scssify | scssify }}
  </style>
</head>
