* {
    transition-duration: 0.2s;
}

body{
        max-width: 80%;
        margin: 0 auto;
    
    @include media-query($on-palm){
        max-width: 96%;
        }
}

.site-header {
    
    margin-top: 0.4em;
    // Positioning context for the mobile navigation icon
    position: relative;
     @include media-query($on-palm){
        margin-top: 0.3em;        
    }
     
}


.site-nav {
    font-size:1em;
    //line-height: 26px;
    display:inline-block;
    float:right;
    padding:18px 0px;//horizon to the right
     @include media-query($on-palm){
        font-size:1em;;
        }
}


.color-bars-header {
    margin-top: -0.6em;
    margin-bottom: -0.5em;
}

.color-bars-footer {
    margin-top: -1.6em;
}

/**
 * Page content
 */
.page-content {
    margin: -5pt auto;
    max-width: 80%;
    padding: $spacing-unit 0;
    
      @include media-query($on-palm){
        margin-top: -18pt;
        max-width: 98%;
        }
}

.content {
    margin: 0 auto;
    max-width: 100%;
    padding: $spacing-unit 0;
    box-sizing: border-box;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

.content.anchor {
    margin: 0 auto;
    max-width: 100%;
    padding: $spacing-unit 0;
}

.content p {
    overflow-wrap: break-word;
    word-wrap: break-word;
    max-width: 100%;
}

.content li {
    overflow-wrap: break-word;
    word-wrap: break-word;
    max-width: 100%;
}

.content table {
    max-width: 100%;
    table-layout: auto;
    word-wrap: break-word;
}

.content-section {
    margin-bottom: 4px;
}

.content-section-list {
    margin-bottom: -8px;
}

.content-section-expand {
    margin-top: -6px;
    margin-bottom: 4px;
}

.content-section-mis {
    margin-bottom: 8px;
}

.content-subsection-mis {
    margin-top: -4px;
}

.header-img { 
   display:block;
   margin: 20px 50px 0 0 ;//1st is top, 2nd is right
     @include media-query($on-palm){
        margin: 0 auto; 
        height: auto;
        }
}

.header-text{
   display:block;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;

}

.post-list .post-meta {
        float: right;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;
    h1 {
        font-size: 42px;
            @include media-query($on-laptop) {
                font-size: 36px;
    }
    }

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}



#logo {
   fill: $color-1;
    
    &:hover{
        fill: $color-2;
    } 
}

.page-link {
        margin-left: 1em;
}

.thunder{
    max-width: 100%
}

//table
table {
  margin: 5px 0;
  border-collapse: collapse;
  width: 100%;
  padding: 0; }
/*
table {
  margin: 15px 0;
  border-collapse: collapse;
  width: 100%;
  padding: 0; }
  table tr {
    border-top: 1px none;
    background-color: white;
    margin: 0;
    padding: 0; }
    table tr:nth-child(2n) {
      background-color: white; }
    table tr th {
      font-weight: bold;
      border: 1px none;
      text-align: left;
      margin: 0;
      padding: 6px 13px; }
    table tr td {
      border: 1px none;
      text-align: left;
      margin: 0;
      padding: 6px 13px; }
    table tr th :first-child, table tr td :first-child {
      margin: 0; }
    table tr th :last-child, table tr td :last-child {
      margin: 0; }
*/

// Adding 'Contents' headline to the TOC
#markdown-toc::before {
    content: "Contents";
    font-weight: bold;
}


// Using numbers instead of bullets for listing
#markdown-toc ul {
    list-style: decimal;
}

#markdown-toc {
    border: 1px solid $color-1;
    padding: 1.5em;
    list-style: decimal;
    display: inline-block;
}



.color-bars{
    margin: 0 -1em 0 -1em;
}

.cor {
    width: 25%;
    height: 4px;
    display: inline-block;
    vertical-align: bottom;

}
.colr-1{
background-color: #A2DCE7;
}
.colr-2{
background-color: #dedef9;
}
.colr-3{
background-color: #B5EECB;
}
.colr-4{
background-color: #A7C7E7;
}
.colr-5{
background-color: #CCCCFF;
}
.colr-6{
background-color: #aae0da;
}
.colr-7{
background-color: #CBC3E3;
}
.colr-8{
background-color: #AED6F1;
}

.author {
    border:none;
    box-shadow: 0 0 5px #a8a9ab;
    padding: 1em 1em 0 1em;
}    

.author-body {
}

.author-image {
    background-repeat: no-repeat;
    background-size: contain;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: inline-block;

}

.author-about {
    margin-left: 1em;
    display: inline-block;
    @include media-query($on-palm) {
         margin-left: 0em;
        display: block;
    }

}
.author-about p, .author-about h4 {
    margin: 0;
    padding:0;
}

.cor-head {
    width: 12.5%;
    height: 5px;
    display: inline-block;
}
